* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

article {
    background-color: papayawhip;
    margin: 2rem 2rem auto; 
    padding: 2rem; 
    border-radius: 20% 120%;
}

.navimage {
  height: 100px; 
  width: 100%; 
}

td {
  border: .25px solid black;
  padding: .5rem .5rem;
  flex-wrap: wrap;
  text-align: center;
}

td:hover {
  font-weight: bold;
  background-color: rgb(250, 211, 148);
}

th {
  padding: 1%;
}

table {
    border-collapse: collapse;
    margin: auto; 

}

nav {
  background-image: url("https://t4.ftcdn.net/jpg/05/48/86/41/360_F_548864123_eKptYhuUJg2d4C15usYhJpzh7Ml3ya3o.jpg");
  background-position: 100%; 
  padding: 6.7%; 
  margin-bottom: 0px;
  border-bottom: 2px solid rgb(73, 73, 73);
}

h1 {
   color: white; 
   background-color: rgba(0, 0, 0, 0.381);
   padding: .1rem; 
   text-align: center;
}

.table {
  padding: 1rem; 
  background-color: papayawhip; 
  border: .25rem solid rgb(244, 195, 118); 
  border-radius: 1rem;
  overflow-x: auto;
}

.about {
  background-size:auto; 
  padding-top: 5%; 
  padding-bottom: 5%; 
  background-color: papayawhip;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about p {
  padding-bottom: 3rem;
}

h2 {
  padding-bottom: .5rem; 
}

.papago img, .camelback img {
  display: flex;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: .5rem;
  margin-bottom: 0rem;
  width: 10rem; 
}

.papago {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .papago {
    flex-direction: column;
  }
  img { 
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .camelback {
    flex-direction: column-reverse;
  }
  .mcdowell { 
    flex-direction: column;
  }
  .mcdowell-images {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
  }

  .mcdowell-images img {
    width: 60vw; 
  } 

}

.camelback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mcdowell {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  background: radial-gradient(circle, white, papayawhip);
  border-radius: 1rem;
  padding: 2rem; 
  margin: 2rem; 
  border: 1px solid rgb(255, 221, 165);
}

.mcdowell-images {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  border-collapse: collapse;
  margin: auto; 
  overflow: scroll;
}

.mcdowell-images img {
  height: 150px; 
  padding: .5rem; 
  border-radius: 1rem;
  margin-bottom: 2rem; 
}

.papago img:hover, .camelback img:hover {
  width: 250px; 
  border: 2px solid black;
}

.fauna img{
  display: flex;
  border-radius: 1rem;
  width: 60%; 
  margin: 1rem auto; 
  border: 4px solid rgb(244, 195, 118); 
}

.fauna p, .fauna h2 {
    margin-left: 1rem; 
    margin-right: 1rem;
}

.fauna p {
  background-color: papayawhip;
  padding: .5rem; 
  border-radius: 1rem;
  border: 4px solid rgb(244, 195, 118);
}

form {
  margin: 1rem; 
  text-align: center;
  font-weight: bold;
}

input, button {
  font-size:large; 
}

.tortoise p, .roadrunner p, .saguaro p, .pricklypear p {
  display: none; 
}